# Letta Configuration
LETTA_TOKEN=your_letta_token
LETTA_BASE_URL=http://localhost:8283
LETTA_AGENT_ID=your_letta_agent_id
# If true, includes a prefix on every message sent to the agent
# This prefix includes information about the Discord user who sent the message
# Should leave true by default
LETTA_USE_SENDER_PREFIX=true

# Discord Bot Configuration
APP_ID=your_discord_app_id
DISCORD_TOKEN=your_discord_bot_token
PUBLIC_KEY=your_discord_public_key
# Set this if you want the bot to only respond to messages (listen) in a specific channel 
# DISCORD_CHANNEL_ID=your_discord_channel_id

# If true, the bot will respond to DMs
# If false, the bot will ignore them
RESPOND_TO_DMS=true
# Whether or not to respond to mentions
RESPOND_TO_MENTIONS=true
# Whether or not to respond to bots
RESPOND_TO_BOTS=false
# Whether or not to respond to generic messages
RESPOND_TO_GENERIC=false

# App Configuration
PORT=3001